$mobile: 480px
$tablet: 720px
$desktopS: 960px
$desktop: 1240px
$desktopHD: 1920px

body
    margin: 0
    font-family: "Nunito Sans", sans-serif

#header
    background-color: #FFE9DD
    position: sticky
    top: 0
    text-align: center
    img
        margin-top: -2.5em
        margin-bottom: -2.5em
        width: 15em

#body
    height: 2000px
    background-color: white

.topnav
    height: 1.5em
    display: flex
    justify-content: space-around

    &__link-container
        display: flex
        justify-content: space-between
        gap: 2em

        a
            text-decoration: none
            &:hover
                cursor: pointer
