@keyframes grow-text {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#header {
  background-color: #FFE9DD;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 999;
}
#header img {
  margin-top: -2.5em;
  margin-bottom: -3em;
  width: 15em;
}

#body {
  height: 2000px;
  background-color: white;
}

.topnav {
  display: flex;
  justify-content: space-around;
}
.topnav__link-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
@media (max-width: 960px) {
  .topnav__link-container {
    display: none;
  }
}

.topnav__link-anchor {
  padding: 0.6em 1em;
  text-decoration: none;
  color: #8b1008;
}
.topnav__link-anchor:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #AC5836;
}
.topnav__link-anchor:hover span {
  text-decoration: none !important;
}
.topnav__link-anchor--emphasis {
  background-color: #8b1008;
  color: #FFE9DD;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.topnav__link-anchor--emphasis span {
  animation: grow-text 2s linear infinite;
}
.topnav__link-anchor--emphasis:hover {
  color: #FFE9DD;
}

.topnav__link-container--mobile {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
}
.topnav__link-container--mobile a {
  text-decoration: none;
  color: #8b1008;
  width: 50%;
}
.topnav__link-container--mobile a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #AC5836;
}
.topnav__link-container--mobile .topnav__link-menu {
  width: 50%;
  font-family: inherit;
  text-align: left;
  color: #AC5836;
  display: flex;
  align-items: center;
  gap: 1em;
}
@media (min-width: 960px) {
  .topnav__link-container--mobile {
    display: none;
  }
}

.sidenav {
  width: 100vw;
  transition: 1.5s cubic-bezier(0.36, -0.01, 0, 0.77);
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  color: #8b1008;
  z-index: 1001;
}
.sidenav__content {
  width: 80%;
  height: inherit;
  background-color: #FFE9DD;
}
.sidenav.hidden {
  margin-left: -100vw;
}

.sidenav__link {
  list-style-type: none;
  text-align: left;
  border-bottom: 1px solid rgba(172, 88, 54, 0.3);
}
.sidenav__link a {
  text-decoration: none;
  color: #AC5836;
  display: block;
  width: 100%;
}
.sidenav__link--emphasis {
  color: #AC5836;
  transform-origin: left;
  animation: grow-text 2s linear infinite;
  display: flex;
  align-items: center;
}

.sidenav__link-container {
  display: flex;
  flex-direction: column;
  color: #8b1008;
  gap: 1.5em;
  padding-right: 2em;
}

.sidenav__top {
  display: flex;
  justify-content: flex-end;
  padding: 0.75em;
}

.sidenav__close-button {
  width: 3em;
}
.sidenav__close-button span {
  font-size: 36px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  transition: visibility 1.5s cubic-bezier(0.36, -0.01, 0, 0.77), opacity 1.5s cubic-bezier(0.36, -0.01, 0, 0.77);
}
.overlay.hidden {
  opacity: 0;
  transition: visibility 1.5s cubic-bezier(0.36, -0.01, 0, 0.77), opacity 1.5s cubic-bezier(0.36, -0.01, 0, 0.77);
  visibility: hidden;
}

#footer {
  display: flex;
  width: 100vw;
  height: 7.5em;
}
@media (max-width: 960px) {
  #footer {
    height: inherit;
    flex-direction: column;
  }
}

.footer {
  display: flex;
  align-items: center;
}
.footer__left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8b1008;
  background-color: #FFE9DD;
}
.footer__left-section a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 960px) {
  .footer__left-section {
    flex-direction: column;
    padding: 1em;
    font-size: 14px;
  }
  .footer__left-section span {
    padding-bottom: 1em;
    text-align: center;
  }
}
@media (min-width: 960px) {
  .footer__left-section {
    width: 60%;
    padding: 0 5em;
  }
}
.footer__right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFE9DD;
  background-color: #8b1008;
}
.footer__right-section a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 960px) {
  .footer__right-section {
    font-size: 14px;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    height: 40%;
  }
}
@media (min-width: 960px) {
  .footer__right-section {
    width: 40%;
    padding: 0 5em;
  }
}
.footer__item {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 960px) {
  .footer__item {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}
@media (min-width: 960px) {
  .footer__item {
    width: 30%;
  }
}

#hero {
  font-family: "IBM Plex Serif", serif;
  color: #8b1008;
}
#hero__image-container {
  margin: 0;
  position: relative;
}
#hero__image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
#hero__image-shadow {
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(to right, transparent 20%, #FFE9DD 85%);
}
#hero__image-text-container {
  right: 20px;
  text-align: right;
  position: absolute;
  font-size: 60px;
  top: 25%;
  padding: 20px;
  z-index: 1;
}

/*# sourceMappingURL=styles.css.map */
