<div>
    <div id="hero">
        <figure id="hero__image-container">
            <div id="hero__image-text-container">
                <span>
                    <i>
                        Save Money.
                    </i>
                </span>
                <br/>
                <span>
                    <i>
                        Live Better.
                    </i>
                </span>
            </div>
            <img id="hero__image" src="../assets//img/supermarket_aisle.jpg" />
            <div id="hero__image-shadow"></div>
        </figure>
    </div>
</div>