<header>
    <div class="nav">
        <div>
            <img src="../assets/img/junes_logo.png" alt="Junes Logo">
        </div>
        <div class="topnav">
            <div class="topnav__link-container">
                <a class="topnav__link-anchor" href="#about">About Us</a>
                <a class="topnav__link-anchor" href="#about">Product</a>
                <a class="topnav__link-anchor" href="#about">Promo & Event</a>
                <a class="topnav__link-anchor" href="#about">Membership</a>
                <a class="topnav__link-anchor topnav__link-anchor--emphasis" href="#about">
                    Shop Now
                    <span class="material-symbols-outlined">
                        shopping_bag
                    </span>
                </a>
            </div>
            <div class="topnav__link-container--mobile">
                <div class="topnav__link-menu">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </div>
                <a href="#about"><b>Shop Now</b></a>
            </div>
        </div>
    </div>
</header>
